html
{
    overflow: hidden;
}

body
{
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 	
    line-height: 43px;
    font-weight: 300;	
    color: #222222;
    background: #ECECEC;
}

body a
{
    text-decoration: none;
    color: #222222;
    transition: color .2s linear;
}

body a:hover
{
    color: #f277ae;
}

.body-wrapper
{
    margin: 30px;
    background-color: #fff;
    position: relative;
}

.doc-loader 
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;	
    background-color: white;
}

.doc-loader td 
{       
    text-align: center;
    vertical-align: middle;
}

.doc-loader img
{
    width: 90px;
    height: 90px;        
}

.nicescroll-rails-vr:hover
{
    cursor: pointer !important;
}

.content-1170
{
    width: 1170px;    
}

.content-970
{
    width: 970px;    
}

.content-770
{
    width: 770px;
}

.content-1170 img, .content-970 img, .content-770 img
{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.header-holder
{
    width: 1170px; 
}

.header-logo
{
    padding: 80px 0;
}

.header-logo img
{
    transition: opacity 0.3s linear;
}

.header-logo img:hover
{
    opacity: 0.2;
}

.toggle-holder
{
    width: 20px;
    height: 18px;
    top: 80px;
    right: 0; 
    z-index: 10;
}

#toggle:hover
{
    cursor: pointer;
}

#toggle div, #toggle
{
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#toggle div
{
    height: 4px;
    margin-bottom: 3px;
    background-color: #c2c2c2;
}

#toggle .third-menu-line
{        
    margin-bottom: 0;
}

#toggle.on div
{
    background-color: #000;
}

#toggle.on .first-menu-line 
{
    transform: rotate(45deg) translate(5px, 5px);
    -ms-transform: rotate(45deg) translate(5px, 5px);
    -webkit-transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .second-menu-line
{
    opacity: 0;
}

#toggle.on .third-menu-line
{
    transform:  rotate(-45deg) translate(5px, -5px);
    -ms-transform:  rotate(-45deg) translate(5px, -5px);
    -webkit-transform:  rotate(-45deg) translate(5px, -5px);
}

.menu-wraper
{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 10;
    overflow: auto;    
    border: 30px solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-color: #cccccc;
}

.logged-in .menu-wraper
{
    top: 32px;
    height: calc(100% - 32px);
}

.menu-logo
{
    margin-top: 80px;
    display: inline-block;
    margin-bottom: 50px;    
}

.menu-logo img
{
    transition: opacity 0.3s linear;
}

.menu-logo img:hover
{
    opacity: 0.2;
}

#header-main-menu
{    
    max-width: 350px;
    margin: 0 auto;
}

.main-menu.sm-clean
{
    background-color: transparent;    
}

.main-menu.sm-clean a
{    
    font-size: 35px;
    line-height: 40px;
    color: #222222;
    font-weight: 700;
}

.main-menu.sm-clean .sub-menu a
{
    font-size: 22px;
    line-height: 30px;
    border-left: 0;
}

.sm-clean li a.current, .sm-clean .current_page_item a 
{
    color: #f277ae;
}

.main-menu.sm-clean a:hover 
{
    color: #f277ae;
}

.caroufredsel_wrapper:before 
{
    content: "";
    position: absolute;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
    z-index: 0;
}

.carousel_pagination a
{
    background-color: #E2E0E0;
}

.carousel_pagination a:hover
{
    background-color: #f277ae;
}

.carousel_pagination a.selected
{
    background-color: #f277ae;
}

div.pp_default .pp_loaderIcon
{
    display: none !important;
}

div.pp_default a.pp_arrow_previous
{
    background-image: url(images/nav_left.png);
    background-size: 20px 20px;    
    width: 20px;
    height: 20px;
    margin-top: 5px;
    font-size: 0;
    line-height: 0;
    text-indent: -99999999px;
    transition: transform .3s ease;
}

div.pp_default a.pp_arrow_next
{
    background-image: url(images/nav_right.png);
    background-size: 20px 20px;    
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 0;
    line-height: 0;
    text-indent: -99999999px;
    transition: transform .3s ease;
}

div.pp_default a.pp_arrow_previous:hover 
{
    transform: translateX(-5px);
}

div.pp_default a.pp_arrow_next:hover 
{
    transform: translateX(5px);
}

div.pp_default .pp_close
{
    background-image: url(images/close.png);
    background-size: 30px 30px;
    margin-top: 5px;
    text-indent: -99999999px;
    font-size: 0;
    line-height: 0;    
}

div.pp_default .pp_next:hover 
{
    background: url(images/nav_right.png);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 20px;
}

div.pp_default .pp_previous:hover
{
    background: url(images/nav_left.png);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 20px;    
}



/* BLOG */

.blog h1.entry-title
{
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    max-width: 370px;
    margin: 0 auto;
    padding-bottom: 35px;
    text-align: center;
}

.blog-item-holder
{
    opacity: 0;
    padding: 35px 0;
    text-align: center;
}   

.blog-holder .entry-title a
{    
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
    font-size: 44px;
    line-height: 43px;
    font-weight: 300;
}

.blog-holder .entry-date
{    
    color: #6f6f6f;
    font-size: 20px;
    display: inline-block;
}

.blog-holder .entry-date:after, .num-comments:before
{
    content: "\2022";
    margin: 0 30px;
    display: inline-block;
    color: #e1e1e1;
}

.kudos
{
    display: inline-block;
}

.post-kudo
{
    color: #f277ae;
    font-size: 20px;
}

.big-circle
{
    width: 28px;
    height: 28px;
    border: 1px solid #f277ae;
    border-radius: 90%;
    display: inline-block;
    vertical-align: -8px;
    cursor: pointer;
}

.big-circle:hover
{
    box-shadow: 0 0 0 rgba(242,119,174, 0.4);
    animation: kudospulse 2s infinite;
}

.big-circle.alreadyvoted
{
    cursor: auto;
}

.big-circle.alreadyvoted:hover
{
    animation: none;
}

.small-circle
{
    width: 6px;
    height: 6px;
    border: 1px solid #f277ae;
    border-radius: 90%;
    margin-top: 10px;
    margin-left: 10px;
}

.small-circle.alreadyvoted
{
    background-color: #f277ae;
}

.kudos .count
{
    padding-left: 10px;
}

@-webkit-keyframes kudospulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(242,119,174, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(242,119,174, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(242,119,174, 0);
    }
}
@keyframes kudospulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(242,119,174, 0.4);
        box-shadow: 0 0 0 0 rgba(242,119,174, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(242,119,174, 0);
        box-shadow: 0 0 0 10px rgba(242,119,174, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(242,119,174, 0);
        box-shadow: 0 0 0 0 rgba(242,119,174, 0);
    }
}

.blog-holder .num-comments
{
    display: inline-block;
    font-size: 20px;    
}

.blog-holder .num-comments a
{
    color: #6f6f6f;
}

.more-posts-index img
{
    transition: all .2s linear;
}

.more-posts-index img:hover
{
    cursor: pointer;  
    transform: scale(0.9);
}

/* END BLOG */